h1,
h3, p {
  margin: 0;
}

:root {
  /* Primary Colors for buttons, text, gardients */
  --primary-text-purple-dark: #240d57;
  --primary-text-purple-light: #501fc1;
  --envited-purple: #8456ec;
  --envited-pink: #e87bf8;

  /* Secondary Colors */
  --secondary-purple-1: #ccb6ff;
  --secondary-purple-2: #ede5ff;
  --secondary-purple-3: #f6f2ff;

  /* Alert Colors */
  --secondary-bg-red: #ffd7e0;
  --secondary-fg-red: #e61445;
  --secondary-bg-green: #d3ffe2;
  --secondary-fg-green: #00805e;

  /* Neutral Colors for general text & background */
  --dark-grey: #4f4f4f;
  --medium-grey: #828282;
  --base-grey: #bdbdbd;
  --light-grey: #e0e0e0;
  --input-bg: #f2f2f2;
  --white: #fbfaff;
}
